<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Papa John&apos;s</key>
	<string>cbf7a6cd-247c-48e8-a6e8-e2b248093f8c</string>
	<key>Edgewater Grille</key>
	<string>720c9806-108f-4973-ad65-2251f315c1ce</string>
	<key>Tap Room</key>
	<string>ca62c2d3-adaf-418f-aa20-995b440c8829</string>
	<key>Shula Burger</key>
	<string>6845bc74-bf55-4d8b-8e04-f424bb368d4d</string>
	<key>Sloppy Joe&apos;s</key>
	<string>a45a847e-e5dc-42c8-9322-2e19be949d67</string>
</dict>
</plist>
